* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width:  113px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add-icon {
    display: flex;
    align-items: center;
}

.fir-adr {
    color: #cccccc;
    margin-left: 15px;
    font-size: 0.85rem;
}

.sec-adr {
    color: #ffffff;
    margin-left: 3px;
    font-size: 1rem;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    width: 650px;
    height: 40px;
    border-radius: 4px;

}

.nav-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}

.nav-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(221, 150, 52);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-search:hover {
    border: 2px solid orange;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deal {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 35px;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
}

.box-image {
    height: 300px;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-content {
    padding: 1rem;
}

.box-content p {
    color: #007185;
}

footer {
    margin-top: 1rem;
}

.footer-panel1 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    color: white;
}

.footer-panel2 {
    height: 370px;
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
}

ul a {
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 1rem;
}

ul {
    margin-top: 25px;
}

.footer-panel3 {
    height: 70px;
    background-color: #222f3d;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footer-panel4 {
    height: 75px;
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.copyright {
    margin-top: 5px;
}